################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/Debug
**/Release
/MyCompany.Travel.Web/bin
*.suo
*.vssscc
